<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Experiencia - Nil Ortega</title>
  <link rel="stylesheet" href="../../estils.css/css.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
  <nav class="navbar">
    <div class="left-icon">
      <a href="../../index.html"><i class="fas fa-globe"></i></a>
    </div>
    <div class="right-icons">
      <a href="./index_en.html"><i class="fas fa-id-card"></i></a>
      <a href="./education.html"><i class="fas fa-home"></i></a>
      <a href="./experience.html"><i class="fas fa-briefcase"></i></a>
    </div>
  </nav>

  <main>
    <h1>Experiencia</h1>

    <div class="experiencia-grid">
      <div class="experiencia-box">
        <h2>FCT internship at Salesians Sant Vicenç dels Horts</h2>
        <p>I completed a total of 383 hours of FCT internships at the Salesians Sant Vicenç dels Horts school, an educational institution recognized for its technical focus and educational values. During this internship, I collaborated with the technical and teaching staff, learning how a school's digital infrastructure works, and participating in IT support tasks.</p>
        <img src="../../img/Salesians.jpeg" alt="Imagen de prácticas" class="profile-img" />
      </div>

      <div class="experiencia-box">
        <h2>Career at the Pare Enric d'Ossó school</h2>
        <p>I studied from P3 to 4th year of secondary school at the Pare Enric d'Ossó school, where I acquired a comprehensive education and fundamental values ​​that have supported me in my academic and personal development.</p>
        <img src="../../img/Pare Enric D'osso.jpeg" alt="Imagen escolar" class="profile-img" />
      </div>

      <div class="experiencia-box">
        <h2>Current studies</h2>
        <p>I am currently enrolled in the Intermediate Vocational Training Course in Microcomputer Systems and Networks, where I am expanding my knowledge of networks, hardware, operating systems, and technical support.</p>
        <img src="../../img/images de joan23.jpeg" alt="Imagen estudios actuales" class="profile-img" />
      </div>

      <div class="experiencia-box">
        <h2>Assumed functions and responsibilities</h2>
        <ul>
          <ul>Configuration and maintenance of computer equipment.</ul>
          <ul>Troubleshooting basic software and hardware issues.</ul>
          <ul>Support in the management of the center's local networks.</ul>
          <ul>Installation and updating of operating systems and educational programs.</ul>
        </ul>
        <img src="../../img/Informatica.jpeg" alt="Imagen funciones" class="profile-img" width="100%" />
      </div>
    </div>
  </main>
</body>
</html>
